*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color:  #0f172a;
    color: #fff;
    padding: 20px;
    min-height: 100vh;
}

/*CONTAINER PRINCIPAL (LAYOUT GERAL)*/
.dashboard-container{
    display: flex;
    gap: 20px;
    max-width: 1400px;
    margin: 0 auto;
}

/*  BARRA LATERAL */
.sidebar{
    Flex: 1;
   min-width: 250px;
   background: linear-gradient(135deg, #ec4899, #8b5cf6);
   padding: 25px;
   display: flex;
   flex-direction: column;
   gap: 15px;
   box-shadow: 0  15px 25px rgba(236, 72, 153, 0.3);
}

.menu-item{
    background: rgba(255, 255, 255, 0.2);
    padding: 12px 18px;
    border-radius: 10px;
    font-weight : bold;
    cursor: pointer;
    transition: all 0.3s;
}

.menu-item:hover{
    background: rgba(255, 255, 255, 0.4);
    transform: translatex(5px);
}

.main-content{
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 20;
}